* {
    font-family: roboto;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.vl {
    border-left: 2px solid whitesmoke;
    height: 20px;
  }

a {
    text-decoration: none;
    color: white;
}

.top-cont {
    display: flex;
    justify-content: space-around;
    gap: 500px;
    padding: 15px;
    
}
.h-image {
    margin: 75px 125px 0 0;

}
.subtitle {
    color: lightslategrey;
}

.lm-cont {
    display: flex;
    flex-direction: column;
    padding: 100px;   
   
}
button {
    width: 115px;
    height: 25px;
    color: whitesmoke;
    background-color: #0078CB;
    border-style: none;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    
}

.hero-cont {
    display: flex;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
}


.h-card {
    background-color: #1F2937;
    height: 95vh;
}

body {
    margin: 0;
}

.mid-section {
    display: flex;
    justify-content: center;
    gap: 25px;
    
}

.mid-pic {
    justify-content: end;
}

.mid-card {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.mid-section img {
    height: 175px;
    width: auto;
    border-radius: 3px;
}

.mid-title {
    padding: 50px;
    font-size: 40px;
    font-weight: 900;
    color: #1F2937
}

.rods {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gear {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-card {
    background-color: #E5E7EB;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1F2937;
    font-style: italic;
    font-size: 30px;
    padding: 40px;

}

quote-cont {
    display: flex;
    flex-direction: column;
}

.author {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    font-weight: 900;
}

.all-cont {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: #0088CB;
    margin: 5% 20%;
    border-radius: 5px;
    color: ivory;
}

.cta1 {
    font-size: 20px;
    font-weight: 900;
}

.cta2 {
    font-weight: 100;
}



  
  






